<div class="service-area-map-shell">
  <img
    src="/images/parrish-service-area-map.svg"
    alt="Illustrated map centered on Parrish, Florida"
    class="service-area-map"
    loading="lazy"
    decoding="async"
    width="1200"
    height="720"
  />
</div>
