---
import { brand } from '../data/brand';
---

<div class="service-area-map-shell">
  <img
    src={brand.assets.serviceAreaMap}
    alt="Illustrated map centered on Parrish, Florida"
    class="service-area-map"
    loading="lazy"
    decoding="async"
    width="1200"
    height="720"
  />
</div>
